
body {
  background: url('https://upload.wikimedia.org/wikipedia/commons/2/2f/Sala_de_cine.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;  
}  
 
